In [ ]:
import pandas as pd

In [ ]:
headphone = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Flipkart%20Headphones.csv')

In [ ]:
headphone.head()

,Model,Company,Color,Type,Average Rating,Number of Ratings,Selling Price,Maximum Retail Price,Discount
0,5PLUS 5PHP28 Wired without Mic Headset,5PLUS,Red,On the Ear,3.6,101,496,3399,2903
1,A R Wireless compatible with Headset Bluetooth...,A R,Red,Multicolor,3.9,35280,188,799,611
2,Aerizo Wireless Touch R100 Earbuds (Black) Blu...,Aerizo,Black,True Wireless,4.0,1934,589,1298,709
3,Allmusic powerful driven bass with dynamic bea...,Allmusic,Multicolor,In the Ear,4.0,15841,260,1599,1339
4,Allmusic OPP.O Ultra HD Sound Premium Bass Spo...,Allmusic,Black,In the Ear,3.8,10766,270,999,729

In [ ]:
headphone.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Model                 1000 non-null   object
 1   Company               1000 non-null   object
 2   Color                 1000 non-null   object
 3   Type                  1000 non-null   object
 4   Average Rating        1000 non-null   float64
 5   Number of Ratings     1000 non-null   int64
 6   Selling Price         1000 non-null   int64
 7   Maximum Retail Price  1000 non-null   int64
 8   Discount              1000 non-null   int64
dtypes: float64(1), int64(4), object(4)
memory usage: 70.4+ KB

In [ ]:
headphone.describe()

,Average Rating,Number of Ratings,Selling Price,Maximum Retail Price,Discount
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000
mean,3.831000,5.004075e+04,832.875000,2423.043000,1590.168000
std,0.467459,1.572297e+05,812.535141,1774.025318,1341.379254
min,1.000000,0.000000e+00,88.000000,0.000000,-2991.000000
25%,3.600000,1.167500e+02,349.000000,1079.750000,697.500000
50%,3.900000,1.712000e+03,599.000000,1999.000000,1390.500000
75%,4.000000,1.332700e+04,999.000000,2999.000000,2250.000000
max,5.000000,1.299042e+06,7990.000000,16999.000000,12000.000000

In [ ]:
headphone.columns

Index(['Model', 'Company', 'Color', 'Type', 'Average Rating',
       'Number of Ratings', 'Selling Price', 'Maximum Retail Price',
       'Discount'],
      dtype='object')

In [ ]:
headphone.shape

(1000, 9)

In [ ]:
y= headphone['Selling Price']

In [ ]:
x= headphone[['Model','Company','Color','Type','Average Rating','Number of Ratings','Maximum Retail Price','Discount']]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.5,random_state=2528)

In [ ]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((500, 8), (500, 8), (500,), (500,))

In [ ]:
x_train

,Model,Company,Color,Type,Average Rating,Number of Ratings,Maximum Retail Price,Discount
781,Sunnybuy TWS T8 True Air_buds Wireless High Ba...,Sunnybuy,Black,True Wireless,3.5,154,2999,1800
262,Boult Audio ProBass Curve Neckband Bluetooth H...,Boult,Black,Grey,3.6,165,3499,2500
823,TIGENECY LOW PRICE ALL MOBILE SUPPORTED COMBO ...,TIGENECY,Black,In the Ear,3.9,14726,999,774
229,Boult Audio AirBass ENCore with Environmental ...,Boult,Black,True Wireless,3.5,31507,6999,5000
878,Ubon CL-116 Neckband Bluetooth Headset,Ubon,Yellow,In the Ear,3.8,825,2499,2010
...,...,...,...,...,...,...,...,...
147,boAt BassHeads 100 Wired Headset,boAt,Taffy Pink,In the Ear,4.3,1049774,999,600
150,boAt BassHeads 100 Wired Headset,boAt,White,In the Ear,3.7,6288,839,440
210,Boult Audio Bass Bud Q2 Wired Headset,Boult,Black,On the Ear,4.1,18050,1999,1409
665,Plus Shine i12s_MA05 Bluetooth Headset,Plus,White,True Wireless,3.9,221939,1599,1050
399,FIER MAGNET-K1-I7 Pack of 3 Bluetooth Bluetoot...,FIER,Black,White,3.6,980,1999,1630

In [ ]:
y_train

781    1199
262     999
823     225
229    1999
878     489
       ...
147     399
150     399
210     590
665     549
399     369
Name: Selling Price, Length: 500, dtype: int64

In [ ]:
x_test

,Model,Company,Color,Type,Average Rating,Number of Ratings,Maximum Retail Price,Discount
198,Boult Audio AirBass Combuds Bluetooth Headset,Boult,White,True Wireless,3.9,217931,4999,3700
351,DigiClues S109 Single Wireless 18 Hours of Cal...,DigiClues,Black,True Wireless,3.4,120,1999,1400
157,boAt Rockerz 450 with Upto 15 Hours Playback B...,boAt,Aqua Blue,On the Ear,3.0,6,4999,3500
69,Aroma NB119 Advance - 40 Hours Playtime Blueto...,Aroma,Yellow,Black,3.3,1842,2499,1966
356,DIZO by realme TechLife GoPods D with Enviornm...,DIZO,Black,True Wireless,4.0,30895,2499,1500
...,...,...,...,...,...,...,...,...
725,RPM Euro Games Gaming Earphones Headphones For...,RPM,Blue,In the Ear,3.7,1233,999,300
202,Boult Audio ProBass Curve Neckband Bluetooth H...,Boult,Black,Grey,4.0,333036,3499,2500
340,DigiClues Smart HD Sound Earphone with Chargin...,DigiClues,White,True Wireless,3.8,801,1999,1350
317,Cosmic Byte GS430 Wired Gaming Headset,Cosmic,Green,On the Ear,3.6,101,1499,570
52,Aroma NB120B Dhoom - 28 Hours Playtime Bluetoo...,Aroma,Black,In the Ear,4.3,114661,1999,1620

In [ ]:
y_test

198    1299
351     599
157    1499
69      533
356     999
       ...
725     699
202     999
340     649
317     929
52      379
Name: Selling Price, Length: 500, dtype: int64